/* Coolors Exported Palette - https://coolors.co/9381ff-b8b8ff-f8f7ff-ffeedd-ffd8be */

/* CSS HEX */
--medium-purple: #9381ffff;
--maximum-blue-purple: #b8b8ffff;
--ghost-white: #f8f7ffff;
--antique-white: #ffeeddff;
--unbleached-silk: #ffd8beff;

/* CSS HSL */
--medium-purple: hsla(249, 100%, 75%, 1);
--maximum-blue-purple: hsla(240, 100%, 86%, 1);
--ghost-white: hsla(248, 100%, 98%, 1);
--antique-white: hsla(30, 100%, 93%, 1);
--unbleached-silk: hsla(24, 100%, 87%, 1);

/* SCSS HEX */
$medium-purple: #9381ffff;
$maximum-blue-purple: #b8b8ffff;
$ghost-white: #f8f7ffff;
$antique-white: #ffeeddff;
$unbleached-silk: #ffd8beff;

/* SCSS HSL */
$medium-purple: hsla(249, 100%, 75%, 1);
$maximum-blue-purple: hsla(240, 100%, 86%, 1);
$ghost-white: hsla(248, 100%, 98%, 1);
$antique-white: hsla(30, 100%, 93%, 1);
$unbleached-silk: hsla(24, 100%, 87%, 1);

/* SCSS RGB */
$medium-purple: rgba(147, 129, 255, 1);
$maximum-blue-purple: rgba(184, 184, 255, 1);
$ghost-white: rgba(248, 247, 255, 1);
$antique-white: rgba(255, 238, 221, 1);
$unbleached-silk: rgba(255, 216, 190, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9381ffff, #b8b8ffff, #f8f7ffff, #ffeeddff, #ffd8beff);
$gradient-right: linear-gradient(90deg, #9381ffff, #b8b8ffff, #f8f7ffff, #ffeeddff, #ffd8beff);
$gradient-bottom: linear-gradient(180deg, #9381ffff, #b8b8ffff, #f8f7ffff, #ffeeddff, #ffd8beff);
$gradient-left: linear-gradient(270deg, #9381ffff, #b8b8ffff, #f8f7ffff, #ffeeddff, #ffd8beff);
$gradient-top-right: linear-gradient(45deg, #9381ffff, #b8b8ffff, #f8f7ffff, #ffeeddff, #ffd8beff);
$gradient-bottom-right: linear-gradient(135deg, #9381ffff, #b8b8ffff, #f8f7ffff, #ffeeddff, #ffd8beff);
$gradient-top-left: linear-gradient(225deg, #9381ffff, #b8b8ffff, #f8f7ffff, #ffeeddff, #ffd8beff);
$gradient-bottom-left: linear-gradient(315deg, #9381ffff, #b8b8ffff, #f8f7ffff, #ffeeddff, #ffd8beff);
$gradient-radial: radial-gradient(#9381ffff, #b8b8ffff, #f8f7ffff, #ffeeddff, #ffd8beff);