html{
    scroll-behavior: smooth;
}
body{
    background-color: #F8F7FF;
    font-family: 'Montserrat';
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h1{
  font-size: 50px;
  line-height: 1;
  padding-top: 50px;
  text-align: center;
  color: #9381FF;
  text-shadow: 5px 5px #FFD8BE;
}

h4{
    font-size: 25px;
    line-height: 1.5;
    padding-bottom: 50px;
    text-align: center;
}
nav li{
    display: inline;
    padding-right: 20px;
}
nav a{
    color: #F8F7FF;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    text-decoration-color: #FFD8BE;
    text-decoration-style: solid;
}
p{
    padding-left: 10px;
    text-align: center;
}
nav{
    background-color: #9381FF;
    padding: 15px;
    text-align: center;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    min-width: 300px;
}
.header1{
    background-color: #9381FF;
}
.intro-text{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}
.intro-text p{
    border-top: 3px solid #B8B8FF;
    border-bottom: 3px solid #B8B8FF;
    font-family: 'Lora';
    font-size: 15px;
}
.header1{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: white;
    height: 200px;  
}
footer{
    background-color: #9381FF;
    color: #F8F7FF;
    text-align: right;
}
footer p{
    text-align: right;
    grid-row-gap: 20px;
}
footer img{

}
p{
    padding: 10px;
    text-align: center;
}

.home-recipes{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-row-gap: 30px;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7{
    grid-column-start: 2;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    border: 10px solid #9381FF;
    background-color: #FFEEDD;

}
.sweetpotato-image img, .eggplantparm-image img, .applecrisp-image img, .pizza-image img, .wings-image img, .ravioli-image img, .broccoli-image img{
    width: 75%;
    object-fit: contain;
    overflow: hidden;
}
.review-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}
.TJ-Reviews{
    color: #FFEEDD;
    background-color: #9381FF;
    border: 10px dotted #FFEEDD;
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.TJ-Reviews h1{
    color: #FFEEDD;
    text-shadow: 0px 0px #FFEEDD;
}
.about-me{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-start: 2;
    margin-top: 25px;
    border-top: 3px solid #B8B8FF;
    border-bottom: 3px solid #B8B8FF;
}
.aboutme-image{
    grid-column-start: 2;
    width: 90%;
    margin-top: 25px;
    overflow: hidden;

}
.aboutme-text{
    grid-column-start: 2;
}

/* Desktop View */
@media all and (min-width: 800px){
    p{
        font-size: 35px;
    }
    .intro-text p{
        font-size: 35px;
    }
    h1{
        font-size: 65px;
    }
    .home-recipes{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
        grid-gap: 20px;

    }
    .item1{
        grid-column-start: 2;
    }
    .item2{
        grid-column-start: 3;
    }
    .item3{
        grid-column-start: 4;
    }
    .item4{
        grid-column-start: 2;
    }
    .item5{
        grid-column-start: 3;
    }
    .item6{
        grid-column-start: 4;
    }
    .item7{
        grid-column-start: 3;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-top: 10px;
    }
    footer p{
        
    }
    main .about-me{
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 1fr;
    padding-bottom: 50px;
    }
    .aboutme-image{
        grid-column-start: 2;
        width: 100%;
        height: auto;
        padding-top: 50px;
        overflow: visible;
        margin-left: auto;
        margin-right: auto;
    }
    .behind-college-eatz{
        padding-bottom: 50px;
    }
    .aboutme-text{
        grid-column-start: 3;
    }
}