html{
    scroll-behavior: smooth;
}
body{
    background-color: #F8F7FF;
    font-family: 'Montserrat';
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h1{
  font-size: 45px;
  font-weight: 1500px;
  line-height: 1;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  color: #000000;
  text-decoration: underline #B8B8FF;
}

h2{
    font-size: 28px;
    line-height: 1.5;
    padding-bottom: 50px;
    text-align: center;
    margin: auto;
}
a{
    color: #000000;
}
nav{
    background-color: #9381FF;
    padding-bottom: 15px;
    text-align: center;
}
nav li{
    display: inline-block;
    position: sticky;
}
nav a{
    position: relative;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding: 15px;
}
nav a:hover{
    border: 3px solid #FFD8BE;
    padding: 0px;
}

nav .current{
    text-decoration: underline;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 75%;
}
main{
    padding-top: 50px;
}
.header1{
    background-color: #9381FF;
    width: 100%;
    display: block;
    height: 200px;  
    width: 100%;
}
.intro-text{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}
.intro-text p{
    border-top: 3px solid #B8B8FF;
    border-bottom: 3px solid #B8B8FF;
    font-family: 'Lora';
    font-size: 15px;
    grid-column-start: 2;
}

p{
    font-family: 'Lora';
    padding: 10px;
    text-align: center;
}
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #9381FF;
    justify-content: space-evenly;
    flex: 1;
    padding: 0px;
}
footer p{
    flex-direction: row;
    justify-content: space-evenly;
    text-align: right;
    padding: 0px;
    color: #000000;
}
footer img{
    width: 75%;
    display: block;
}

.skip a{
    background: #F8F7FF;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}
*:focus{
    border: 5px dotted #FFD8BE;
}
.skip a:focus{
    top: 0px;
}
.home-recipes{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-row-gap: 30px;
}
.home-recipes a{
    color: #000000;
    text-decoration: none;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7{
    grid-column-start: 2;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    border: 10px solid #9381FF;
    background-color: #FFEEDD;
}
.sweetpotato-image img, .eggplantparm-image img, .applecrisp-image img, .pizza-image img, .wings-image img, .ravioli-image img, .broccoli-image img{
    width: 75%;
    object-fit: contain;
    overflow: hidden;
}
.review-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
}
.review-images img{
    margin: 10px;
    padding: 10px;
    background-color: #FFD8BE;
    border: 3px solid #000000;
}
.TJ-Reviews{
    color: #FFEEDD;
    border: 1px solid #000000;
    margin: 20px;
    box-shadow: 10px 15px #9381FF;
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.about-me{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-start: 2;
    margin-top: 25px;
}

/* Flip Card Effect */
.card-inner{
    grid-column-start: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card-inner:hover, .card-inner:focus-within, .card-inner:active, .card-inner:focus{
    transform: rotateY(180deg);
}
.aboutme-image, .card-back{
    grid-column-start: 2;
    position: absolute;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-inner img{
    grid-column-start: 2;
    grid-row-start: 1;
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
.card{
    overflow: hidden;
    grid-column-start: 2;
    grid-row-start: 1;
}
.card-back{
    transform: rotateY(180deg);
    position: relative;
}


.aboutme-text{
    grid-column-start: 2;
    grid-row-start: 2;
}
.image-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.image-gallery img{
    border: 10px solid #9381FF;
    margin: 10px;
    align-content: center;
}

.recipe{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

}

.recipe-directions, .recipe-ingredients{
    grid-column-start: 2;
    text-align: left;
    
}
.recipe_title img{
    display: block;
    margin: auto;
    width: 25%;
    padding-top: 25px;
}
.recipe li{
    font-family: 'Lora';
    padding: 10px;
    line-height: initial;
}

form {
    border: 5px solid #FFD8BE;
    padding: 25px;
    margin: 25px;
    min-height: 200px;
}
legend { 
    font-size: 45px;
    font-family: 'Montserrat';
    text-align: center;
    padding-bottom: 10px;
}
label{
    font-family: 'Lora';
    font-size: 15px;
    width: 15%;
}
input{
    width: 75%;
    padding: 20px;
    margin-top: 10px;
}
.nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.potstickers, .goatcheese, .mandarinchicken, .icecream, .salmon, .steak{
    background:#F8F7FF;
    border: 1px solid #000000;
    margin: 20px;
    margin-bottom: 100px;
    box-shadow: 10px 15px #9381FF;
    color: #000000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}
.reviews h2{
    grid-row-start: 2;
    font-size: 20px;
    padding: 0;
    margin: auto;
    text-align: center;
}
.reviews h3{
    grid-row-start: 3;
    font-size: 35px;
    text-align: center;
    font-style: italic;
    margin: auto;
}
.reviews p{
    grid-row-start: 4;
    margin: auto;
    overflow: hidden;
}
.reviews img{
    grid-row-start: 1;
    margin: auto;
    object-fit: contain;
}
.TJ-Rev h1{
    padding-top: 20px;
    background-color: #F8F7FF;
    margin-left: 25%;
    margin-right: 25%;
    border: 3px solid #9381FF;
    text-decoration: none;
}
.parallax{
    background-image: url("../images/tjs/store.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutme-button{
    grid-column-start: 2;
    margin-right: auto;
    margin-left: auto;
}
button, #submit-button{
    background-color: #FFD8BE;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    transition-duration: 0.5s;
}
/* Tablet View*/
@media all and (min-width: 481px) and (max-width: 799px){
    .nav_links{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin: 0px;
        margin-top: -25px;
        padding: 0;
    }
    .header1{
        background-color: #9381FF;
    }

}
/* Desktop View */
@media all and (min-width: 800px){
    p{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 35px;
    }
    h1{
        font-size: 65px;
    }
    h2{
        font-size: 40px;
    }
    .home-recipes{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
        grid-gap: 20px;
    }
    .item1{
        grid-column-start: 2;
    }
    .item2{
        grid-column-start: 3;
    }
    .item3{
        grid-column-start: 4;
    }
    .item4{
        grid-column-start: 2;
    }
    .item5{
        grid-column-start: 3;
    }
    .item6{
        grid-column-start: 4;
    }
    .item7{
        grid-column-start: 3;
    }
    footer p{
        margin-right: 0px;
    }
    .about-me{
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 1fr;
    grid-template-rows: auto auto auto;
    padding-bottom: 50px;
    }
    .card{
        grid-column-start: 2;
        grid-row-start: 1;
        position: relative;
        perspective: 1000px;
    }
    .card-inner{
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .card .card-inner:active, .card-inner:focus{
        transform: rotateY(180deg);
    }
    .aboutme-image, .card-back{
        grid-column-start: 2;
        position: absolute;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .card-back{
        transform: rotateY(180deg);
        position: relative;
    }
    .aboutme-image{
        margin-right: 50px;
    }
    .behind-college-eatz{
        padding-bottom: 50px;
    }
    .aboutme-text{
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .aboutme-button{
        grid-column-start: 2;
        grid-row-start: 2;
        width: 100%;
    }
    button, #submit-button{
        background-color: #FFD8BE;
        text-align: center;
        display: inline-block;
        font-size: 35px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        transition-duration: 0.5s;
        width: 50%;
    }
    button:hover, #submit-button:hover{
        background-color: #B8B8FF;
    }
    .image-gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
 
    #logo{
        max-width: 400px;
        margin-right: 0%;
    }
    .nav_links{
        padding-top: 10px;
        display: block;
        text-align: right;
        font-size: 25px;
    }
    footer img{
        max-width: 400px;
    }
    nav{
        animation-name: nav-background;
        animation-duration: 3s;
    }
    nav a{
        animation-name: nav-text;
        animation-duration: 3s;
    }
    @-webkit-keyframes nav-text{
        from{color:#9381FF;}
        to{color: #000000;}
    }
    @keyframes nav-text{
        from{color: #9381FF;}
        to{color: #000000;}
    }
    .form-p{
        padding-top: 40px;
    }
    .reviews h2{
        font-size: 50px;
    } 

}
@media all and (max-width: 480px) and (min-width: 0px){
    .reviews h2{
        font-size: 28px;
    }

}

@media screen and (prefers-reduced-motion: reduce){
    nav a{
        animation: none;
    }
    nav{
        animation: none;
    }
}